# Ignore everything by default:
*

# Enable file-pattern inclusions:
!*/

# Include specific file patterns:
!/build.sh
!/ftplugin/*.lua
!/.gitignore
!/grammar.json
!/LICENSE.TXT
!/lua/*.lua
!/Makefile
!/queries/rholang/*.scm
!/README.md
!/syntax/*.lua
!/syntax/*.vim
!/tree-sitter.json
