# Ignore everything by default:
*

# Enable file-pattern inclusions:
!*/

# Include specific file patterns:
!/ftplugin/*.lua
!/.gitignore
!/LICENSE.TXT
!/lua/*.lua
!/README.md
!/syntax/*.lua
!/syntax/*.vim
